# Big Data Project

## Intialising Spark and loading Data

In [8]:
# The code was removed by Watson Studio for sharing.

In [9]:
sc = spark.sparkContext

In [3]:
#Libraries
from pyspark.sql import functions as F
from pyspark.sql.types import *
from pyspark.sql.types import FloatType
from pyspark.ml.feature import VectorAssembler, VectorIndexer, StandardScaler, OneHotEncoder, Imputer, StringIndexer
from pyspark.ml import feature
from pyspark.ml import Pipeline
from pyspark.ml.classification import LogisticRegression, DecisionTreeClassifier, RandomForestClassifier
from pyspark.ml.tuning import CrossValidator, ParamGridBuilder
from pyspark.ml.evaluation import BinaryClassificationEvaluator

#Other Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import time
import matplotlib.pyplot as plt

In [4]:
df.count()

2260668

In [5]:
# These columns will be unique to each customer
df = df.drop('id', 'member_id')

In [ ]:
# Looping through to check for null values 
for col in df.columns:
    cnt = df.filter(df[col].isNull()).count()
    if cnt != 0:
      print(col, "\t", "with null values: ", cnt)

id 	 with null values:  2260668

In [ ]:
df.groupBy(['loan_status']).count().orderBy('count', ascending = False).show(10,  truncate = False)

In [ ]:
df = df.where(~df.loan_status.isin(['Oct-2015']))
df = df.withColumn("Default", 
   F.when((df.loan_status == 'Fully Paid') | (df.loan_status == 'Current') | (df.loan_status == 'Does not meet the credit policy. Status:Fully Paid') ,0).otherwise(1))

df = df1.drop('loan_status')

In [ ]:
df.groupBy(['Default']).count().orderBy('count', ascending = False).show(10,  truncate = False)

Data is Skewed by 1 : 6.67, hence AUC will be used as Evaluvation Metrics

In [ ]:
df.groupBy(['emp_length']).count().show(15,  truncate = False)

In [ ]:
# ['10+ years', '< 1 year', '1 year', '3 years', '8 years', '9 years', '4 years', '5 years', '6 years', '2 years', '7 years', 'n/a' ]
df1 = df.where(~df.emp_length.isin([' reactors"']))
df1 = df1.fillna('U', subset = ['emp_length'])
df1 = df1.withColumn("employment_length", 
   F.when((df.emp_length == 'U') ,0).
                     F.when((df.emp_length == '< 1 year') ,1).
                     F.when((df.emp_length == '1 year') ,2).
                     F.when((df.emp_length == '2 year') ,3).
                     F.when((df.emp_length == '3 year') ,4).
                     F.when((df.emp_length == '4 year') ,5).
                     F.when((df.emp_length == '5 year') ,6).
                     F.when((df.emp_length == '6 year') ,7).
                     F.when((df.emp_length == '7 year') ,8).
                     F.when((df.emp_length == '8 year') ,9).
                     F.when((df.emp_length == '9 year') ,10).otherwise(11))


df1 = df1.drop('emp_length')
df1.groupBy(['empoyment_length']).count().show(15,  truncate = False)

In [ ]:
df1.groupBy(['verification_status']).count().show(truncate = False)

In [ ]:
df1 = df1.where(~df.verification_status.isin(['38000']))

In [ ]:
us_states = ['CA', 'OR', 'UT','WA', 'CO', 'NV', 'AK', 'MT', 'HI', 'WY', 'ID', 'AZ', 'TX', 'NM', 'OK', 'GA', 'NC', 'VA', 'FL', 'KY',\
             'SC', 'LA', 'AL', 'WV', 'DC', 'AR', 'DE', 'MS', 'TN', 'IL', 'MO', 'MN', 'OH', 'WI', 'KS', 'MI', 'SD', 'IA', 'NE', 'IN',\
             'ND','CT', 'NY', 'PA', 'NJ', 'RI','MA', 'MD', 'VT', 'NH', 'ME']

df2 = df1.where(df.addr_state.isin(us_states))

In [ ]:
df2.count()